@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import "variables";
*{
    box-sizing: border-box;
}
 
html {
    font-size: 100%;
    font-weight: 500;
}
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2555rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;


    @media only screen and (max-width: 600px) {
      padding: 0;
      margin: 0;
    }

}

.container {
  -webkit-box-shadow: 10px 10px 34px 6px rgba(92,92,92,1);
  -moz-box-shadow: 10px 10px 34px 6px rgba(92,92,92,1);
  box-shadow: 10px 10px 34px 6px rgba(92,92,92,1);

  
  @media only screen and (max-width: 600px) {
    box-shadow: none;
  }
}

.overlay {
    position: fixed;
  overflow-y: scroll;

    width: 100%;
    height: 100%;
    background:#797979c2;
    animation: animationFadeIn 1s ease-out 0s;
    animation-fill-mode: backwards;
    top: 0;
    left: 0;
    z-index: 9999999999;
  
    @media only screen and (max-width: 600px) {
      background:#fff;;
  
    }
  }
  .alert {
    color: #f9de0cf0;
    font-size: 0.8rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  .shadow-black {
    -webkit-box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.685);
    -moz-box-shadow: 10px 10px 32px 1px  rgba(0, 0, 0, 0.685);
    box-shadow: 10px 10px 32px 1px  rgba(0, 0, 0, 0.685);
  }

  input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border-radius: 15px;
    cursor: pointer;
}


.heading-container {
  background: $nav-background;
  color: $white-color;
  padding: 5rem 10rem;

  h1 {
      .heading-main {
          padding-bottom: 1rem;
          text-transform: capitalize;
          font-weight: 500;
      }
      .details {
          font-weight: 600;
          font-size: 1rem;
      }
  }
}