//Colors 
$primary-color : #192A56;
$primary-blue:#1871CA;
$green-color:#26DE81;
$purple-color:#8854D0;
$purple-dark-color:#6D2BA9;
$blue-color: #276ACB;
$blue-dark-color:#5144B7;
$red-color:#E53935;;
$white-color:#FFF;
$white-gray-color:#E4DEE6;
$blue-gray-color:#ECF0F1;
$nav-background:#440082;
$orange-color: #F9CA24;
$green-light: #2ECC71;


